<!docktype html>

<html>

    <head>
    
        <title>{{ the_title }}</title>
        
        <link rel="stylesheet" href="static/hf.css" />
        
    </head>
    
    <body>
    
        
        {% extends 'base.html' %}
        
        {% block body %}
        
        <h2>{{ the_title }}</h2>

        <form method='POST' action='/search'>
        <table>
        <p>Введи значения:</p>
        <tr><td>Слово:</td><td><input name='phrase' type='TEXT' width='60'></td></tr>
        <tr><td>Буквы:</td><td><input name='letters' type='TEXT' value='aeiou'></td></tr>
        </table>
        <p>Если готов, нажми:</p>
        <p><input value='Выполнить!' type='SUBMIT'></p>
        </form>


        {% endblock %}
    </body>
</html>











